In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
data=pd.read_excel("dataset_1.xlsx")

In [3]:
data.head() #First Five Rows

,instant,dteday,season,yr,mnth,hr,holiday,weekday,weathersit,temp
0,1,2011-01-01,1,0,1,0,False,6,1,0.24
1,2,2011-01-01,1,0,1,1,False,6,1,0.22
2,3,2011-01-01,1,0,1,2,False,6,1,0.22
3,4,2011-01-01,1,0,1,3,False,6,1,0.24
4,5,2011-01-01,1,0,1,4,False,6,1,0.24

In [4]:
data.tail() #Last Five Rows

,instant,dteday,season,yr,mnth,hr,holiday,weekday,weathersit,temp
605,606,2011-01-28,1,0,1,11,False,5,3,0.18
606,607,2011-01-28,1,0,1,12,False,5,3,0.18
607,608,2011-01-28,1,0,1,13,False,5,3,0.18
608,609,2011-01-28,1,0,1,14,False,5,3,0.22
609,610,2011-01-28,1,0,1,15,False,5,2,0.20

In [5]:
data.shape

(610, 10)

In [6]:
data.shape[0] #Only No. of Rows

610

In [7]:
data['weekday'].unique()

array([6, 0, 1, 2, 3, 4, 5], dtype=int64)

In [8]:
data.dtypes

instant                int64
dteday        datetime64[ns]
season                 int64
yr                     int64
mnth                   int64
hr                     int64
holiday                 bool
weekday                int64
weathersit             int64
temp                 float64
dtype: object

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 610 entries, 0 to 609
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     610 non-null    int64
 1   dteday      610 non-null    datetime64[ns]
 2   season      610 non-null    int64
 3   yr          610 non-null    int64
 4   mnth        610 non-null    int64
 5   hr          610 non-null    int64
 6   holiday     610 non-null    bool
 7   weekday     610 non-null    int64
 8   weathersit  610 non-null    int64
 9   temp        610 non-null    float64
dtypes: bool(1), datetime64[ns](1), float64(1), int64(7)
memory usage: 43.6 KB

In [10]:
data.duplicated().sum()

0

In [11]:
data.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
605    False
606    False
607    False
608    False
609    False
Length: 610, dtype: bool

In [12]:
data.describe()

,instant,season,yr,mnth,hr,weekday,weathersit,temp
count,610.000000,610.0,610.0,610.0,610.000000,610.000000,610.000000,610.000000
mean,305.500000,1.0,0.0,1.0,11.795082,2.977049,1.477049,0.196885
std,176.236111,0.0,0.0,0.0,6.852107,2.054943,0.643496,0.081304
min,1.000000,1.0,0.0,1.0,0.000000,0.000000,1.000000,0.020000
25%,153.250000,1.0,0.0,1.0,6.000000,1.000000,1.000000,0.160000
50%,305.500000,1.0,0.0,1.0,12.000000,3.000000,1.000000,0.200000
75%,457.750000,1.0,0.0,1.0,18.000000,5.000000,2.000000,0.235000
max,610.000000,1.0,0.0,1.0,23.000000,6.000000,4.000000,0.460000

In [13]:
data.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'weathersit', 'temp'],
      dtype='object')

In [14]:
data.drop(['yr'],axis=1)

     instant     dteday  season  mnth  hr  holiday  weekday  weathersit  temp
0          1 2011-01-01       1     1   0    False        6           1  0.24
1          2 2011-01-01       1     1   1    False        6           1  0.22
2          3 2011-01-01       1     1   2    False        6           1  0.22
3          4 2011-01-01       1     1   3    False        6           1  0.24
4          5 2011-01-01       1     1   4    False        6           1  0.24
..       ...        ...     ...   ...  ..      ...      ...         ...   ...
605      606 2011-01-28       1     1  11    False        5           3  0.18
606      607 2011-01-28       1     1  12    False        5           3  0.18
607      608 2011-01-28       1     1  13    False        5           3  0.18
608      609 2011-01-28       1     1  14    False        5           3  0.22
609      610 2011-01-28       1     1  15    False        5           2  0.20

[610 rows x 9 columns]

In [15]:
data.isnull().sum() #Finding missing values

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
weathersit    0
temp          0
dtype: int64

In [16]:
data.isnull().sum()/data.shape[0]*100

instant       0.0
dteday        0.0
season        0.0
yr            0.0
mnth          0.0
hr            0.0
holiday       0.0
weekday       0.0
weathersit    0.0
temp          0.0
dtype: float64

In [17]:
data.ndim

2

In [18]:
data1=pd.read_excel("dataset_2.xlsx")

In [19]:
data1.head() #First Five Rows

   Unnamed: 0  instant   atemp   hum  windspeed  casual  registered  cnt
0           0        1  0.2879  0.81        0.0       3          13   16
1           1        2  0.2727  0.80        0.0       8          32   40
2           2        3  0.2727  0.80        0.0       5          27   32
3           3        4  0.2879  0.75        0.0       3          10   13
4           4        5  0.2879  0.75        0.0       0           1    1

In [20]:
data1.tail() #Last Five Rows

     Unnamed: 0  instant   atemp   hum  windspeed  casual  registered  cnt
605         605      606  0.2121  0.93     0.1045       0          30   30
606         606      607  0.2121  0.93     0.1045       1          28   29
607         607      608  0.2121  0.93     0.1045       0          31   31
608         608      609  0.2727  0.80     0.0000       2          36   38
609         609      610  0.2576  0.86     0.0000       1          40   41

In [21]:
data1.shape

(610, 8)

In [22]:
data1.shape[0] #Only No. of Rows

610

In [23]:
data1['casual'].unique()

array([ 3,  8,  5,  0,  2,  1, 12, 26, 29, 47, 35, 40, 41, 15,  9,  6, 11,
        4,  7, 16, 20, 19, 10, 13, 14, 18, 17, 21, 33, 23, 22, 24],
      dtype=int64)

In [24]:
data1.dtypes

Unnamed: 0      int64
instant         int64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

In [25]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 610 entries, 0 to 609
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  610 non-null    int64
 1   instant     610 non-null    int64
 2   atemp       599 non-null    float64
 3   hum         610 non-null    float64
 4   windspeed   610 non-null    float64
 5   casual      610 non-null    int64
 6   registered  610 non-null    int64
 7   cnt         610 non-null    int64
dtypes: float64(3), int64(5)
memory usage: 38.2 KB

In [26]:
data1.duplicated().sum()

0

In [27]:
data1.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
605    False
606    False
607    False
608    False
609    False
Length: 610, dtype: bool

In [28]:
data1.describe()

,Unnamed: 0,instant,atemp,hum,windspeed,casual,registered,cnt
count,610.000000,610.000000,599.000000,610.000000,610.000000,610.000000,610.000000,610.000000
mean,304.500000,305.500000,0.199935,0.562475,0.204851,4.501639,51.068852,55.570492
std,176.236111,176.236111,0.078836,0.175440,0.121806,6.319945,47.021204,49.316802
min,0.000000,1.000000,0.000000,0.210000,0.000000,0.000000,0.000000,1.000000
25%,152.250000,153.250000,0.151500,0.432500,0.104500,0.000000,14.000000,16.000000
50%,304.500000,305.500000,0.197000,0.520000,0.194000,2.000000,43.000000,47.000000
75%,456.750000,457.750000,0.242400,0.690000,0.283600,6.000000,70.000000,79.750000
max,609.000000,610.000000,0.454500,1.000000,0.582100,47.000000,247.000000,249.000000

In [29]:
data1.columns

Index(['Unnamed: 0', 'instant', 'atemp', 'hum', 'windspeed', 'casual',
       'registered', 'cnt'],
      dtype='object')

In [30]:
data1.drop(['Unnamed: 0'],axis=1)

     instant   atemp   hum  windspeed  casual  registered  cnt
0          1  0.2879  0.81     0.0000       3          13   16
1          2  0.2727  0.80     0.0000       8          32   40
2          3  0.2727  0.80     0.0000       5          27   32
3          4  0.2879  0.75     0.0000       3          10   13
4          5  0.2879  0.75     0.0000       0           1    1
..       ...     ...   ...        ...     ...         ...  ...
605      606  0.2121  0.93     0.1045       0          30   30
606      607  0.2121  0.93     0.1045       1          28   29
607      608  0.2121  0.93     0.1045       0          31   31
608      609  0.2727  0.80     0.0000       2          36   38
609      610  0.2576  0.86     0.0000       1          40   41

[610 rows x 7 columns]

In [31]:
data1.ndim

2

In [32]:
data1.isnull().sum() #Finding missing values

Unnamed: 0     0
instant        0
atemp         11
hum            0
windspeed      0
casual         0
registered     0
cnt            0
dtype: int64

In [33]:
data1.isnull().sum()/data.shape[0]*100

Unnamed: 0    0.000000
instant       0.000000
atemp         1.803279
hum           0.000000
windspeed     0.000000
casual        0.000000
registered    0.000000
cnt           0.000000
dtype: float64

In [34]:
data1.replace('?', np.nan, inplace=True) #Replace null values to question mark 'Nan'

In [35]:
data1

     Unnamed: 0  instant   atemp   hum  windspeed  casual  registered  cnt
0             0        1  0.2879  0.81     0.0000       3          13   16
1             1        2  0.2727  0.80     0.0000       8          32   40
2             2        3  0.2727  0.80     0.0000       5          27   32
3             3        4  0.2879  0.75     0.0000       3          10   13
4             4        5  0.2879  0.75     0.0000       0           1    1
..          ...      ...     ...   ...        ...     ...         ...  ...
605         605      606  0.2121  0.93     0.1045       0          30   30
606         606      607  0.2121  0.93     0.1045       1          28   29
607         607      608  0.2121  0.93     0.1045       0          31   31
608         608      609  0.2727  0.80     0.0000       2          36   38
609         609      610  0.2576  0.86     0.0000       1          40   41

[610 rows x 8 columns]

In [36]:
bike_count = pd.merge(data, data1, on='instant', how='inner') #merge data and data1

In [37]:
bike_count

,instant,dteday,season,yr,mnth,hr,holiday,weekday,weathersit,temp,Unnamed: 0,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,False,6,1,0.24,0,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,False,6,1,0.22,1,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,False,6,1,0.22,2,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,False,6,1,0.24,3,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,False,6,1,0.24,4,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,606,2011-01-28,1,0,1,11,False,5,3,0.18,605,0.2121,0.93,0.1045,0,30,30
606,607,2011-01-28,1,0,1,12,False,5,3,0.18,606,0.2121,0.93,0.1045,1,28,29
607,608,2011-01-28,1,0,1,13,False,5,3,0.18,607,0.2121,0.93,0.1045,0,31,31
608,609,2011-01-28,1,0,1,14,False,5,3,0.22,608,0.2727,0.80,0.0000,2,36,38
609,610,2011-01-28,1,0,1,15,False,5,2,0.20,609,0.2576,0.86,0.0000,1,40,41

In [38]:
data1['atemp'].fillna(data1['atemp'].mode())
data1['atemp'] #Most frequent values

0      0.2879
1      0.2727
2      0.2727
3      0.2879
4      0.2879
        ...
605    0.2121
606    0.2121
607    0.2121
608    0.2727
609    0.2576
Name: atemp, Length: 610, dtype: float64

In [39]:
data1['atemp'].fillna(data1['atemp'].median())
data1['atemp']

0      0.2879
1      0.2727
2      0.2727
3      0.2879
4      0.2879
        ...
605    0.2121
606    0.2121
607    0.2121
608    0.2727
609    0.2576
Name: atemp, Length: 610, dtype: float64

In [40]:
data1['atemp'].fillna(data1['atemp'].mean())
data1['atemp']

0      0.2879
1      0.2727
2      0.2727
3      0.2879
4      0.2879
        ...
605    0.2121
606    0.2121
607    0.2121
608    0.2727
609    0.2576
Name: atemp, Length: 610, dtype: float64

In [41]:
data1['casual'].fillna(data1['casual'].median())
data1['casual']

0      3
1      8
2      5
3      3
4      0
      ..
605    0
606    1
607    0
608    2
609    1
Name: casual, Length: 610, dtype: int64

In [42]:
data1['registered'].fillna(data1['registered'].mode())
data1['registered']

0      13
1      32
2      27
3      10
4       1
       ..
605    30
606    28
607    31
608    36
609    40
Name: registered, Length: 610, dtype: int64

In [43]:
data1['registered'].fillna(data1['registered'].mean())
data1['registered']

0      13
1      32
2      27
3      10
4       1
       ..
605    30
606    28
607    31
608    36
609    40
Name: registered, Length: 610, dtype: int64